/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Acme&family=Merienda&family=Noto+Sans&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Merienda&family=Noto+Sans&family=Roboto&family=Roboto+Slab&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background-01.png");
  background-size: cover;
  background-position: center;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.emptyDrawer{
  height: 300px;
  width: 300px;
  background-image: url("./emptyDrawer01.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}